<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card card-vocal"
                         ng-class="{'card-primary': $index === recordingIndex, 'card-inverse': $index === recordingIndex || vocal.active, 'card-success': vocal.active}"
                         ng-repeat="vocal in vocals">
                        <h1 class="card-title">{{ vocal.name }}</h1>
                        <ul class="list-group list-group-flush" ng-hide="true">
                            <li class="list-group-item">Kuula</li>
                            <li class="list-group-item">Salvesta uuesti</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-fft">
            <small class="vocal">signaal</small>
            <canvas class="fft" id="analyser"></canvas>
        </div>
        <div class="card-fft" ng-repeat="vocal in vocals">
            <small class="vocal">{{ vocal.name }}</small>
            <canvas id="vocal-{{ vocal.name }}"></canvas>
        </div>
    </div>
</div>